/* CurrentWeatherView.css */

.containerStyle {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    color: #333;
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 600px;
    height: 250px;
  }
  
  .weatherHeaderStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  
  .temperatureStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    color: #4285f4;
    margin: 5px 0;
    padding-left: 100px;
    padding-top: 10px;

  }
  
  .weatherStateStyle {
    font-size: 25px;
    color: #4285f4;
    margin: 5px 0;
  }
  
  .detailStyle {
    font-size: 12px;
    margin: 2px 0;
    color: #777;
  }
  .pokemonStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .pokemonStyle img {
    max-width: 85px; /* Adjust the image size as needed */
  }
  
  .pokemonStyle p {
    font-size: 14px; /* Adjust the font size as needed */
    margin-top: 5px;
  }


  /* Pour les écrans plus petits */
@media (max-width: 1115px) {
  .containerStyle {
    position: static; /* Pour que le bloc ne soit plus en position absolue */
    width: 100%;
    max-width: none; /* Supprimer la largeur maximale */
    margin-bottom: 20px; /* Ajouter un espacement entre les blocs */
  }

  .weeklyContainerStyle {
    position: static;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .hourly-weather {
    position: static;
    width: 100%;
    max-width: none;
  }
}
