body {
    background-color: #1a1a1a; /* Dark background color */
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    font-family: Arial, sans-serif; /* Use a simple font */
    zoom :1.25;
  }
