/* WeeklyWeatherView.module.css */
.weeklyContainerStyle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid #444; /* Darken the border color */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Increase the shadow intensity */
  background-color: #1a1a1a; /* Dark background color */
  color: #fff; /* Light font color */
  font-family: Arial, sans-serif; /* Use a simple font */
  width: 100%;
  max-width: 350px;
  height: auto;
}
  
  .weeklyArrayContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .weeklyDayStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #151515;
    color: #333;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
  
  }
  
  .weeklyDayStyle:hover {
    background-color: #1e1e1e;
  }
  
  .dayName {
    font-size: 10px;
    margin-bottom: 5px;
    color: #1d9bf0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .weatherStateStyle {
    font-size: 12px;
    color: #1d9bf0;
    margin-top: 5px;
  }
  
  .weatherLogo {
    width: 20px;
    height: 20px;
  }
  
  .weeklyDayStyle p {
    margin: 0;
  }
  
  .temperatureStyle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #1d9bf0;
    margin: 5px 0;
  }
  

  /* Pour les écrans plus petits */
@media (max-width: 1115px) {
  .containerStyle {
    position: static; /* Pour que le bloc ne soit plus en position absolue */
    width: 100%;
    max-width: none; /* Supprimer la largeur maximale */
    margin-bottom: 20px; /* Ajouter un espacement entre les blocs */
  }

  .weeklyContainerStyle {
    position: static;
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .hourly-weather {
    position: static;
    width: 100%;
    max-width: none;
  }
}
